html, body {
	background-repeat: repeat;
	background-image: url(/images/content-bg3.png);
}
#login-box {
	margin: 120px auto;
	width: 457px;
	font-size:12px;
	font-family:arial;
}
#login-top{
	height:96px;
}
#login-left{
	float:left;
	background-image: url(/images/login-left-side.png);
	background-repeat: repeat-y;
	background-position: center top;
	height:200px;
	width:13px;
}
#login-middle{
	background-image: url(/images/login-inside-bg.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-color:#fff;
	height:200px;
	width:429px;
	float:left;
	
}
#login-right{
	background-image: url(/images/login-right-side.png);
	background-repeat: repeat-y;
	background-position: center top;
	height:200px;
	width:13px;
	float:left;
}





.text_field {
	width:100%;
	text-align:center;
	padding:0px 0px;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-shadow:#000 1px 1px;
	font-size:14px;
	font-family:arial;
}
.text_field h2{
	font-size:16px;
}
.text_field input{
	background-image: url(/images/input-bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	border-style:solid;
	border-width:1px;
	border-color:#898989;
	width:225px;
	padding:8px;
	font-size:12px;
	font-family:arial;
	margin:6px;
}

.signuplinks{
	float:right;
	text-align:left;
	padding:0px 0px 0px 32px;
	margin:8px 20px 0 0;
	
}
.signuplinks a{
	text-decoration:none;
	color:#999;
}
.submit_field {
	float:right;
	margin-right:100px;
	margin-top:8px;
}
.submit_field input{
	background-color:red;
	border-style:solid;
	border-color:red;
	border-width:1px;
	color:#fff;
	font-weight:bold;
	padding:8px;
	font-size:16px;
}