  <%= javascript_include_tag 'swfobject' %>

<style type="text/css">
<!--
.text_field {
	float:left;
	text-align:left;
	margin-bottom:20px;
	padding:0px 10px 0 0;
	font-weight:bold;
}
.text_field input{
	background-image: url(/images/input-bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	border-style:solid;
	border-width:1px;
	border-color:#898989;
	padding:8px;
	font-size:12px;
	font-family:arial;
}
.submit_field2 {
	float:left;
}
.submit_field2 input{
	margin-top:20px;
	background-color:red;
	border-style:solid;
	border-color:red;
	border-width:1px;
	color:#fff;
	font-weight:bold;
	padding:6px;
	font-size:16px;
}
.submit_field2 a{
	text-decoration:none;
	color:#fff;
}
.lifts-list{
	clear:both;
	padding:0 0 0 6px;
}
.headly h1{
	clear:both;
	border-bottom-style:solid;
	border-bottom-color:#BFBFBF;
	border-bottom-width:1px;
	padding-bottom:10px;
}
.head-item{
	float:left;
	padding-right:00px;
	font-weight:bold;
	width:110px;

}
.max-item{
	float:left;
	padding-right:00px;
	width:110px;
	height:26px;
	line-height:26px;
}
.max-item2{
	float:left;
	padding-right:00px;
	width:110px;
	height:26px;
	line-height:26px;
	background-color:#eee;
}
.pencil{
	margin-top:5px;
	height: 18px;
	width: 16px;
	background-image: url(/images/pencil.png);
	background-position: bottom;
}
.pencil:hover{
	height: 18px;
	width: 16px;
	background-image: url(/images/pencil.png);
	background-position: top;
}
.delete{
	margin-top:5px;
	height: 18px;
	width: 16px;
	background-image: url(/images/delete.png);
	background-position: top;
}
.delete:hover{
	height: 18px;
	width: 16px;
	background-image: url(/images/delete.png);
	background-position: bottom;
}
.chart{
	float:left;
}
-->
</style>

<div id="landing_piechart" class='chart'>
  <strong>Text displayed when the user doesn't have Flash. You might want to display a simple table with the population, search engines and visitor without flash would love that.</strong>
  <p> To see this page properly, you need to upgrade your Flash Player, please visit the Adobe web site</p>
</div>

<script type="text/javascript">
  // <![CDATA[    
  var so = new SWFObject("/ampie/ampie.swf", "landing_piechart", "430", "280", "8", "#fff");
  so.addVariable("path", "/ampie/");
  so.addVariable("settings_file", escape("/ampie/ampie_settings.xml"));
  so.addVariable("data_file", escape("<%= @landing_data_link %>"));
  so.addVariable("additional_chart_settings", "<settings><legend><enabled>false</enabled></legend></settings>");
  so.addVariable("preloader_color", "#000000");
  so.write("landing_piechart");
  // ]]>
</script>


<div id="progress_chart" class='chart'>
  <strong>Text displayed when the user doesn't have Flash. You might want to display a simple table with the population, search engines and visitor without flash would love that.</strong>
  <p> To see this page properly, you need to upgrade your Flash Player, please visit the Adobe web site</p>
</div>

<script type="text/javascript">
  // <![CDATA[    
  var so = new SWFObject("/amcharts/amline.swf", "progress_chart", "470", "280", "8", "#fff");
  so.addVariable("path", "/amcharts/");
  so.addVariable("settings_file", escape("/amcharts/amline_settings.xml"));
  so.addVariable("data_file", escape("/home/comm.xml"));
  so.addVariable("additional_chart_settings", "<settings><connect>true</connect><legend><enabled>false</enabled></legend></settings>");
  so.addVariable("preloader_color", "#000000");
  so.write("progress_chart");
  // ]]>
</script>

<div id="middlebar">record your lifts, visualize your progress
	<div id="signupb">sign up</div>
</div>
<div id="lower-content">
tracking 453 liftrrs, with over 12,201 lifts
	<img src="/images/reflection.png">
	
</div>
<div id="footer">A Venture Medias LLC Company</div>

