<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Liftrr - Track your exercises, view statistics</title>
<meta name="description" content="Free site to track your exercises and view detailed reports on slick, easy to use charts.">
<meta name="keywords" content="fitness tracking, exercise tracking, lift, liftr, liftrr">
<%= stylesheet_link_tag 'splash' %>
<% if signed_in? %>
<SCRIPT language="JavaScript">
window.location="/lifts";
</SCRIPT>
<% end %>
</head>

<body>
	

	<div id="content">
    
    	<div id="header"><img src="/images/logo-spash.png" width="142" height="54">Get Jacked</div>
        <div class="right">Bigger<br/>Faster<br/>Stronger<br/></div>
   	  	<div class="left">we can help.<br/>we've got the tools<br/>to make you
        <Br/>
        <Br/>
        <Br/>
		<div class="login"><a href="/lifts">login</a> or </div>
		<div style="margin-top:6px;float:left;padding:0 8px;">
			<a href="/sign_up">
				<img src="/images/sign-up-button.png" width="82" height="32" border="0">
			</a>
		</div>
		<div style="float:left;">its free</div> 
		
    </div>

      <div style="clear:both"></div> 
       
    </div>

    <div id="footer">
    	<span style="float:left"><span class="blockout"><%=h @usernum %></span> liftrrs have the tools, do you?</span>
        <span style="float:right"><span class="blockout"><%=h @liftnum %></span> lifts added</span>
    </div>
   

</div>

	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-15742413-1");
	pageTracker._trackPageview();
	} catch(err) {}</script>
	
</body>
</html>